body {
  background: rgb(105, 105, 240);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

div {
  text-align: center;
  padding: 10px;
}

#photo #image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease;
}

footer a:hover {
  color: rgb(228, 167, 54);
}
